@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Quicksand&display=swap');
body {
    width: 100%;
    height: 90%;
}
header {
    display: flex;
}
.button1{
    margin-bottom: 20px;
    width: 80px;
    padding: 6px 12px 6px 12px;
    border-radius: 5px;
    border:1px solid  rgb(59, 144, 255);
    background: none;
    color:rgb(59, 144, 255) ;
    outline: none;
   
}
:hover.button1 {
    background-color: blue;
    color: white;
}
nav ul li a{
    display: flex;
    padding: 10px;
    font-size: 18px;
    color: black;
}
.div {
    margin: 10px;
}
div{
    margin: auto;
    display: block;
    margin-right: 10px;
    justify-content: flex-end;
    justify-content: space-between;
    margin: 0%;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin-top: 10px;
    margin: 0%;
    padding-left: 15px;
   
}
ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
    justify-content: flex-end;
}
/* .div-2 {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}
hr {
    box-shadow: 0 0 0.8px blue;
}
nav ul {
    display: flex;
    list-style-type: none;   
    
}
.example-1 {
    color: black;
    padding: 10px;
    font-size: 14px;
    text-align: right;
}
.button-3 { 
    color: rgb(105, 105, 241);
    font-size: 14px;
    border: 1px solid rgb(105, 105, 241);
    border-radius: 3px;
    padding: 4px 2px 4px 2px;
    text-decoration: none;
  
}

:hover.button-3 {
    background-color: blue;
    color: white;
*/
main {
    text-align: center;
    padding: 16px;
    margin-top: 80px;
    margin-bottom: -230px;
}
.example-3 {
    font-family: 'Quicksand', sans-serif;
}
.example-4 {
    font-family: 'Antic Slab', serif;
    color: rgb(63, 62, 62);
    line-height: 1.5;
}
small {
    color: gray;   
}
section.example-5 {
    text-align: center;
    border: 1px solid gray;
    background-color: rgb(238, 237, 237);
    border-radius: 3px;
    width: 100%;
    height: 60px;
    padding-top: -10px;
    padding-bottom: 18px;
}
section.example-6 {
    text-align: center;
    border: 1px solid gray;
  
    border-radius: 3px;
    width: 100%;
    height: 315px;
}
button {
    width: 300px;
}
.button-1 {
    width: 260px;
    background-color: white;
    color: rgb(105, 105, 241);
    font-size: 17px;
    border: 1px solid rgb(105, 105, 241);
    border-radius: 3px;
    padding: 8px 90px 8px 90px;
    margin: 10px;
    text-decoration: none;
    font-style: italic;
}
.button-1:focus {
    outline: auto;
}
.button-2:focus {
    outline: none;
}
:hover.button-1 {
    background-color: blue;
    color: white;    
}
aside {
    display: flex;
    justify-content: space-around;
    padding: 138px;
    margin-bottom: -82px;
}
h1,h4.example-7 {
    font-size: 25px;   
}
.button-2 {
    width: 260px;
    background-color: blue;
    color: rgb(255, 255, 255);
    font-size: 17px;
    border: solid rgb(105, 105, 241);
    border-radius: 3px;
    padding: 8px 90px 8px 90px;
    margin: 10px;
    text-decoration: none;
    font-weight: 200;
    text-decoration: none;
}
.hrr {
    max-width: 900px;
}
:hover.button-2 {
    background-color: rgb(2, 2, 161);
    color: white;  
}
footer {
    justify-content: space-between;
    display: flex;
    text-align: left;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
}
table {
    text-align: left;
    margin-left: 20px;
}
th {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 180px
}
td {
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px
}

@media (max-width: 767px) {
    aside {
        flex-direction: column;
    }
    header{
        flex-direction: column;
        text-align: center;
    }
     .button-2{
         text-align: center;
         margin-bottom: 10%;
     }
     .button1 {
        text-align: center;
     }
     .example-5 {
         height: 100%;
     }
    
}
